<a href="https://colab.research.google.com/github/veranika-izrailyan/PyMongo/blob/main/NOSQL_practice_Mongo_Cosmos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# PLEASE DO NOT CHANGE THIS LINE
import pymongo
uri = "mongodb://randomwhale:hN837NgLsDvLuQOIlMJ9klk71vdcxDoYtat8Cs5RjA4k4q0Y7DjqLwGBn1N12U46dtsdWsXvBgjuHDg75UlGWg==@randomwhale.mongo.cosmos.azure.com:10255/?ssl=true&retrywrites=false&replicaSet=globaldb&maxIdleTimeMS=120000&appName=@randomwhale@"
client = pymongo.MongoClient(uri)

In [2]:
mydb = client["dodoisdancing"] # PLEASE DO NOT CHANGE THIS LINE

In [3]:
mycol = mydb["cat"] # Change collection name 'fish' to anything else that you like!

In [4]:
mydict = { "name": "Franklin", "address": "31 Street" }

x = mycol.insert_one(mydict)

In [5]:
mydict = { "name": "Tara", "age": 1 }

x = mycol.insert_one(mydict)

In [6]:
r2 = { "name": "Tara", "complex": mydict , "subjects":["eng","fr","gt"]}

x = mycol.insert_one(r2)

In [7]:
# MongoDB-> Document Database 
for x in mycol.find():
  print(x)

{'_id': ObjectId('619bbe336ad18a24a41b5e5c'), 'name': 'Franklin', 'address': '31 Street'}
{'_id': ObjectId('619bbe5a6ad18a24a41b5e5d'), 'name': 'Tara', 'age': 1}
{'_id': ObjectId('619bbe786ad18a24a41b5e5e'), 'name': 'Tara', 'complex': {'name': 'Tara', 'age': 1, '_id': ObjectId('619bbe5a6ad18a24a41b5e5d')}, 'subjects': ['eng', 'fr', 'gt']}

In [13]:
for x in mycol.find ({"name":"Tara", "age":1}).limit(1):
  print(x)

{'_id': ObjectId('619bbe5a6ad18a24a41b5e5d'), 'name': 'Tara', 'age': 1}

In [10]:
myquery = { "name": { "$regex": "n$" } } # for example, this is a 
# regular expression that ends with letter 'p'

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('619bbe336ad18a24a41b5e5c'), 'name': 'Franklin', 'address': '31 Street'}